<button mat-icon-button data-cy="back-btn" type="button" color="primary" class="mt-4 ml-5" [routerLink]="'/projects'">
  <mat-icon>arrow_back</mat-icon>
</button>
<div *ngIf="(project$ | async) as project" class="container d-flex justify-content-center mt-5">
  <div class="w-50">
    <mat-card class="d-flex justify-content-center flex-column">
      <mat-card-header class="d-flex align-self-center">
        <mat-card-title data-cy="project-title">{{project.title | titlecase}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="text-center" data-cy="project-description">
          <strong>Description: </strong>
          {{project.description}}
        </div>
        <p class="text-center" data-cy="project-status">
          <strong>Status: </strong>
          {{project.status}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
